.user {
    overflow: hidden;
}
.user img {
    float: left;
    margin-right: 15px;
}
.user .user-details {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: green;
}


.section {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      transform: translateX(-20vmin);
  }